@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-primary;
}

body {
  font-family: 'EB Garamond', serif;
}

.bit-button:hover {
  @apply text-red-700 !important;
  @apply border-red-700 !important;
  opacity: 1 !important;
}

.bit-play-my-city-cta:hover {
  @apply text-red-700 !important;
  @apply border-red-700 !important;
  opacity: 1 !important;
}
